### Importing Relevants libraries

In [1]:
import pandas as pd
from IPython.display import display

### Loading the dataset

In [2]:
# Load the CSV file
df = pd.read_csv('healthcare_dataset.csv')

### Printing the first few rows

In [3]:
# Display the first few rows
display(df.head())

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

### Checking informations on the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

### Checking missing values

In [5]:
print(df.isnull().sum())

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

### Distincts medical condition

In [6]:
print(df['Medical Condition'].unique())

['Cancer' 'Obesity' 'Diabetes' 'Asthma' 'Hypertension' 'Arthritis']

### The total number of people with Cancer

In [7]:
cancer_count = df[df['Medical Condition'] == 'Cancer'].shape[0]
print(f"Number of people with Cancer: {cancer_count}")

Number of people with Cancer: 9227

### The most occurring medical condion

In [8]:
most_common = df['Medical Condition'].value_counts().idxmax()
count = df['Medical Condition'].value_counts().max()

print(f"The most common medical condition is '{most_common}' with {count} occurrences.")

The most common medical condition is 'Arthritis' with 9308 occurrences.

### The distinct gender

In [9]:
print(df['Gender'].unique())

['Male' 'Female']

### The number of males on medical condition

In [10]:
male_count = df[df['Gender'] == 'Male'].shape[0]
print(f"Number of males: {male_count}")

Number of males: 27774

### The number of females on medical condition

In [11]:
female_count = df[df['Gender'] == 'Female'].shape[0]
print(f"Number of females: {female_count}")

Number of females: 27726

### The number of distict Doctors

In [12]:
distinct_doctors = df['Doctor'].nunique()
print(f"Number of distinct doctors: {distinct_doctors}")

Number of distinct doctors: 40341

### The number of distict hospital

In [13]:
distinct_hospitals = df['Hospital'].nunique()
print(f"Number of distinct hospitals: {distinct_hospitals}")

Number of distinct hospitals: 39876

### The Distinct blood type

In [14]:
distinct_blood_types = df['Blood Type'].nunique()
print(f"Number of distinct blood types: {distinct_blood_types}")

Number of distinct blood types: 8

### Identifying the blood type/group

In [15]:
print(df['Blood Type'].unique())

['B-' 'A+' 'A-' 'O+' 'AB+' 'AB-' 'B+' 'O-']

### Number of patients with blood type B-

In [17]:
b_negative_count = df[df['Blood Type'] == 'B-'].shape[0]
print(f"Number of patients with blood type B-: {b_negative_count}")

Number of patients with blood type B-: 6944

### The most common blood type in the dataset

In [19]:
most_common_blood_type = df['Blood Type'].value_counts().idxmax()
count = df['Blood Type'].value_counts().max()

print(f"The most common blood type is '{most_common_blood_type}' with {count} patients.")

The most common blood type is 'A-' with 6969 patients.

In [20]:
### Rank the blood type based on the number of the patients

In [21]:
blood_type_ranking = df['Blood Type'].value_counts()

print("Blood Type Ranking (by number of patients):")
print(blood_type_ranking)

Blood Type Ranking (by number of patients):
Blood Type
A-     6969
A+     6956
AB+    6947
AB-    6945
B+     6945
B-     6944
O+     6917
O-     6877
Name: count, dtype: int64

### Medical condition ranked by total billing amount

In [23]:
ranked_billing = billing_by_condition.sort_values(ascending=False)
print("Medical Conditions Ranked by Total Billing Amount:")
print(ranked_billing)

Medical Conditions Ranked by Total Billing Amount:
Medical Condition
Diabetes        2.385397e+08
Obesity         2.382149e+08
Arthritis       2.373291e+08
Hypertension    2.357207e+08
Asthma          2.354598e+08
Cancer          2.321679e+08
Name: Billing Amount, dtype: float64